In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np
import seaborn as sns
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from matplotlib import pyplot as plt

In [ ]:
path = "/content/drive/MyDrive/Colab Notebooks/dataset/last-mp-dataset.csv"
MODEL_PATH = "/content/drive/MyDrive/Colab Notebooks/models/mp_last_large_map2"

In [ ]:
df = pd.read_csv(path)
df["label"].value_counts()

F        5970
L        5970
K        5958
G        5955
J        5953
D        5951
H        5929
B        5929
A        5915
Z        5903
C        5903
R        5896
E        5892
X        5890
I        5887
P        5880
S        5836
V        5835
W        5796
O        5751
Q        5741
Y        5667
T        5530
Space    5191
M        5172
U        4371
N        3674
Name: label, dtype: int64

In [ ]:
space = df[df["label"] == "Space"]
df = df[df["label"] != "Space"]
df = pd.concat([df, space])
df["label"].unique()

array(['M', 'X', 'S', 'P', 'N', 'I', 'U', 'H', 'G', 'B', 'W', 'K', 'E',
       'A', 'L', 'J', 'Q', 'C', 'R', 'O', 'D', 'T', 'V', 'F', 'Y', 'Z',
       'Space'], dtype=object)

In [ ]:
df.head()

,Unnamed: 0,0x,0y,1x,1y,2x,2y,3x,3y,4x,...,16y,17x,17y,18x,18y,19x,19y,20x,20y,label
0,0,0.0,0.0,-0.263195,0.168084,-0.461619,0.238870,-0.545770,0.302678,-0.478784,...,0.920620,0.421439,-0.428301,0.404070,0.039545,0.358000,0.382578,0.324619,0.636810,M
1,1,0.0,0.0,-0.263099,0.028681,-0.421139,0.147102,-0.402727,0.327252,-0.330016,...,0.951374,0.363423,0.171764,0.366473,0.455060,0.327095,0.647811,0.283990,0.788677,M
2,2,0.0,0.0,-0.317940,-0.047910,-0.503678,-0.068887,-0.492297,0.091870,-0.366191,...,0.946927,0.469347,-0.137859,0.490483,0.247974,0.477984,0.517449,0.466153,0.725181,M
3,3,0.0,0.0,-0.316733,0.100902,-0.559333,0.143377,-0.624913,0.156550,-0.485635,...,0.951110,0.561934,-0.403880,0.483950,0.065134,0.429496,0.391307,0.392375,0.634365,M
4,4,0.0,0.0,-0.284665,0.085728,-0.453299,0.167248,-0.372762,0.317592,-0.241684,...,0.934091,0.505951,-0.375049,0.536691,0.106561,0.464293,0.487019,0.407274,0.751768,M

In [ ]:
space

,Unnamed: 0,0x,0y,1x,1y,2x,2y,3x,3y,4x,...,16y,17x,17y,18x,18y,19x,19y,20x,20y,label
11062,11062,0.0,0.0,-0.132785,-0.261496,-0.170800,-0.531811,-0.239157,-0.737123,-0.309920,...,-0.937202,0.619490,-0.362920,0.785534,-0.535391,0.852927,-0.673122,0.883556,-0.789465,Space
11063,11063,0.0,0.0,-0.153685,-0.280484,-0.167716,-0.488918,-0.222795,-0.669463,-0.271777,...,-0.890879,0.648450,-0.371137,0.885746,-0.499751,0.972226,-0.664806,1.000000,-0.808242,Space
11064,11064,0.0,0.0,-0.014950,-0.166393,0.071968,-0.357772,0.062979,-0.520515,0.020004,...,-0.533908,0.605871,-0.079566,0.832698,-0.161592,0.939961,-0.282920,0.988340,-0.405712,Space
11065,11065,0.0,0.0,0.004533,-0.332684,0.064495,-0.587914,0.031849,-0.806813,0.021715,...,-0.835246,0.638790,-0.352640,0.806311,-0.482088,0.889106,-0.597343,0.948618,-0.719203,Space
11066,11066,0.0,0.0,-0.038880,-0.241977,0.010573,-0.474797,-0.011811,-0.668567,-0.024647,...,-0.746231,0.628765,-0.253159,0.835281,-0.374409,0.934315,-0.494705,0.987361,-0.609691,Space
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16248,16248,0.0,0.0,-0.042270,-0.214781,0.019044,-0.418636,-0.003584,-0.578032,-0.036938,...,-0.683244,0.605975,-0.208928,0.813308,-0.325979,0.907390,-0.464806,0.950543,-0.601000,Space
16249,16249,0.0,0.0,-0.080508,-0.223357,-0.045305,-0.492281,-0.084025,-0.711911,-0.129485,...,-0.699642,0.661855,-0.199878,0.857530,-0.341411,0.947550,-0.457954,1.000000,-0.577288,Space
16250,16250,0.0,0.0,0.123352,-0.100121,0.314842,-0.172742,0.440749,-0.244892,0.556595,...,-0.637251,0.558464,-0.221274,0.794781,-0.329477,0.920167,-0.453980,1.000000,-0.567500,Space
16251,16251,0.0,0.0,-0.143466,-0.268965,-0.139171,-0.503761,-0.180103,-0.691915,-0.212297,...,-0.879366,0.678218,-0.332301,0.890307,-0.487700,0.974645,-0.647511,1.000000,-0.790616,Space
16252,16252,0.0,0.0,-0.088112,-0.238106,-0.075612,-0.537839,-0.118228,-0.765859,-0.167918,...,-0.919206,0.611037,-0.331574,0.762230,-0.513379,0.831568,-0.657277,0.857476,-0.789688,Space

In [ ]:
x_data = df[[ '0x', '0y', '1x', '1y', '2x', '2y', '3x', '3y', 
    '4x', '4y', '5x', '5y', '6x', '6y', '7x', '7y', 
    '8x', '8y', '9x', '9y', '10x', '10y', '11x', '11y', 
    '12x', '12y', '13x', '13y', '14x', '14y', '15x', 
    '15y', '16x', '16y', '17x', '17y', '18x', '18y', 
    '19x', '19y', '20x', '20y']]

y_data = df["label"]

In [ ]:
# scalar = MinMaxScaler()
# x_data = scalar.fit_transform(x_data)

encoder = LabelEncoder()
y_data = encoder.fit_transform(y_data)

In [ ]:
encoding_maps = dict(zip(encoder.classes_,range(len(encoder.classes_))))
encoding_maps

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9,
 'K': 10,
 'L': 11,
 'M': 12,
 'N': 13,
 'O': 14,
 'P': 15,
 'Q': 16,
 'R': 17,
 'S': 18,
 'Space': 19,
 'T': 20,
 'U': 21,
 'V': 22,
 'W': 23,
 'X': 24,
 'Y': 25,
 'Z': 26}

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data)

In [ ]:
model = Sequential()
model = Sequential([
    Dense(256, input_shape=(42,)),
    Dropout(.2),
    Dense(128, activation='relu'),
    Dropout(.2),
    Dense(64, activation='relu'),
    Dropout(.2),
    Dense(32, activation = 'relu'),
    Dense(27, activation = 'sigmoid')
])

In [ ]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
history = model.fit(x_train, y_train, epochs=60, validation_split=0.3).history

Epoch 1/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0245 - accuracy: 0.9933 - val_loss: 0.0198 - val_accuracy: 0.9950
Epoch 2/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0257 - accuracy: 0.9933 - val_loss: 0.0190 - val_accuracy: 0.9953
Epoch 3/60
2516/2516 [==============================] - 16s 7ms/step - loss: 0.0254 - accuracy: 0.9929 - val_loss: 0.0179 - val_accuracy: 0.9952
Epoch 4/60
2516/2516 [==============================] - 20s 8ms/step - loss: 0.0241 - accuracy: 0.9933 - val_loss: 0.0203 - val_accuracy: 0.9945
Epoch 5/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0252 - accuracy: 0.9931 - val_loss: 0.0165 - val_accuracy: 0.9953
Epoch 6/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0254 - accuracy: 0.9933 - val_loss: 0.0161 - val_accuracy: 0.9957
Epoch 7/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0238 - accuracy: 0.9934 - val_loss: 0.0161 - val_accuracy: 0.9956
Epoch 8/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0252 - accuracy: 0.9934 - val_loss: 0.0174 - val_accuracy: 0.9955
Epoch 9/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0254 - accuracy: 0.9930 - val_loss: 0.0155 - val_accuracy: 0.9961
Epoch 10/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0270 - accuracy: 0.9931 - val_loss: 0.0199 - val_accuracy: 0.9946
Epoch 11/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0264 - accuracy: 0.9928 - val_loss: 0.0197 - val_accuracy: 0.9947
Epoch 12/60
2516/2516 [==============================] - 9s 3ms/step - loss: 0.0257 - accuracy: 0.9929 - val_loss: 0.0188 - val_accuracy: 0.9949
Epoch 13/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0236 - accuracy: 0.9936 - val_loss: 0.0162 - val_accuracy: 0.9956
Epoch 14/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0260 - accuracy: 0.9928 - val_loss: 0.0187 - val_accuracy: 0.9948
Epoch 15/60
2516/2516 [==============================] - 8s 3ms/step - loss: 0.0251 - accuracy: 0.9930 - val_loss: 0.0266 - val_accuracy: 0.9935
Epoch 16/60
2516/2516 [==============================] - 13s 5ms/step - loss: 0.0260 - accuracy: 0.9932 - val_loss: 0.0167 - val_accuracy: 0.9960
Epoch 17/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0269 - accuracy: 0.9929 - val_loss: 0.0159 - val_accuracy: 0.9956
Epoch 18/60
2516/2516 [==============================] - 9s 3ms/step - loss: 0.0247 - accuracy: 0.9932 - val_loss: 0.0148 - val_accuracy: 0.9963
Epoch 19/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0249 - accuracy: 0.9932 - val_loss: 0.0159 - val_accuracy: 0.9959
Epoch 20/60
2516/2516 [==============================] - 11s 5ms/step - loss: 0.0255 - accuracy: 0.9933 - val_loss: 0.0153 - val_accuracy: 0.9958
Epoch 21/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0243 - accuracy: 0.9934 - val_loss: 0.0169 - val_accuracy: 0.9958
Epoch 22/60
2516/2516 [==============================] - 9s 3ms/step - loss: 0.0249 - accuracy: 0.9932 - val_loss: 0.0168 - val_accuracy: 0.9957
Epoch 23/60
2516/2516 [==============================] - 11s 5ms/step - loss: 0.0240 - accuracy: 0.9936 - val_loss: 0.0164 - val_accuracy: 0.9954
Epoch 24/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0254 - accuracy: 0.9931 - val_loss: 0.0182 - val_accuracy: 0.9953
Epoch 25/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0244 - accuracy: 0.9935 - val_loss: 0.0165 - val_accuracy: 0.9955
Epoch 26/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0263 - accuracy: 0.9935 - val_loss: 0.0165 - val_accuracy: 0.9960
Epoch 27/60
2516/2516 [==============================] - 12s 5ms/step - loss: 0.0235 - accuracy: 0.9937 - val_loss: 0.0152 - val_accuracy: 0.9959
Epoch 28/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0243 - accuracy: 0.9936 - val_loss: 0.0175 - val_accuracy: 0.9957
Epoch 29/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0265 - accuracy: 0.9930 - val_loss: 0.0152 - val_accuracy: 0.9960
Epoch 30/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0233 - accuracy: 0.9937 - val_loss: 0.0149 - val_accuracy: 0.9963
Epoch 31/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0243 - accuracy: 0.9936 - val_loss: 0.0151 - val_accuracy: 0.9959
Epoch 32/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0273 - accuracy: 0.9931 - val_loss: 0.0280 - val_accuracy: 0.9925
Epoch 33/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0232 - accuracy: 0.9940 - val_loss: 0.0150 - val_accuracy: 0.9961
Epoch 34/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0235 - accuracy: 0.9937 - val_loss: 0.0159 - val_accuracy: 0.9959
Epoch 35/60
2516/2516 [==============================] - 12s 5ms/step - loss: 0.0237 - accuracy: 0.9937 - val_loss: 0.0174 - val_accuracy: 0.9956
Epoch 36/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0248 - accuracy: 0.9937 - val_loss: 0.0186 - val_accuracy: 0.9949
Epoch 37/60
2516/2516 [==============================] - 15s 6ms/step - loss: 0.0258 - accuracy: 0.9932 - val_loss: 0.0167 - val_accuracy: 0.9959
Epoch 38/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0249 - accuracy: 0.9935 - val_loss: 0.0166 - val_accuracy: 0.9959
Epoch 39/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0262 - accuracy: 0.9930 - val_loss: 0.0167 - val_accuracy: 0.9962
Epoch 40/60
2516/2516 [==============================] - 12s 5ms/step - loss: 0.0269 - accuracy: 0.9933 - val_loss: 0.0152 - val_accuracy: 0.9958
Epoch 41/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0255 - accuracy: 0.9936 - val_loss: 0.0187 - val_accuracy: 0.9950
Epoch 42/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0257 - accuracy: 0.9935 - val_loss: 0.0201 - val_accuracy: 0.9954
Epoch 43/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0247 - accuracy: 0.9936 - val_loss: 0.0177 - val_accuracy: 0.9952
Epoch 44/60
2516/2516 [==============================] - 12s 5ms/step - loss: 0.0271 - accuracy: 0.9931 - val_loss: 0.0185 - val_accuracy: 0.9958
Epoch 45/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0256 - accuracy: 0.9938 - val_loss: 0.0169 - val_accuracy: 0.9958
Epoch 46/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0248 - accuracy: 0.9935 - val_loss: 0.0209 - val_accuracy: 0.9950
Epoch 47/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0254 - accuracy: 0.9930 - val_loss: 0.0180 - val_accuracy: 0.9955
Epoch 48/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0259 - accuracy: 0.9932 - val_loss: 0.0227 - val_accuracy: 0.9957
Epoch 49/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0278 - accuracy: 0.9931 - val_loss: 0.0168 - val_accuracy: 0.9958
Epoch 50/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0281 - accuracy: 0.9933 - val_loss: 0.0227 - val_accuracy: 0.9948
Epoch 51/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0238 - accuracy: 0.9936 - val_loss: 0.0147 - val_accuracy: 0.9962
Epoch 52/60
2516/2516 [==============================] - 12s 5ms/step - loss: 0.0272 - accuracy: 0.9932 - val_loss: 0.0165 - val_accuracy: 0.9959
Epoch 53/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0274 - accuracy: 0.9933 - val_loss: 0.0163 - val_accuracy: 0.9956
Epoch 54/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0247 - accuracy: 0.9938 - val_loss: 0.0162 - val_accuracy: 0.9961
Epoch 55/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0259 - accuracy: 0.9936 - val_loss: 0.0192 - val_accuracy: 0.9960
Epoch 56/60
2516/2516 [==============================] - 11s 5ms/step - loss: 0.0261 - accuracy: 0.9934 - val_loss: 0.0169 - val_accuracy: 0.9955
Epoch 57/60
2516/2516 [==============================] - 11s 4ms/step - loss: 0.0248 - accuracy: 0.9935 - val_loss: 0.0177 - val_accuracy: 0.9951
Epoch 58/60
2516/2516 [==============================] - 12s 5ms/step - loss: 0.0256 - accuracy: 0.9940 - val_loss: 0.0217 - val_accuracy: 0.9949
Epoch 59/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0305 - accuracy: 0.9927 - val_loss: 0.0163 - val_accuracy: 0.9960
Epoch 60/60
2516/2516 [==============================] - 10s 4ms/step - loss: 0.0243 - accuracy: 0.9935 - val_loss: 0.0236 - val_accuracy: 0.9944

In [ ]:
model.save(MODEL_PATH)

In [ ]:
history.keys()

In [ ]:
plt.subplot(211)
plt.title("accuracy")
plt.plot(history['accuracy'], label="train_accuracy")
plt.plot(history['val_accuracy'], label="validation_accuracy")
plt.xlabel('epoch')
plt.ylabel('accuracy')
plt.legend()

plt.tight_layout(pad=3)

plt.subplot(212)
plt.title("loss")
plt.plot(history['loss'], label="train_loss")
plt.plot(history['val_loss'], label="validation_loss")
plt.xlabel('epoch')
plt.ylabel('accuracy')
plt.legend()

In [ ]:
model.evaluate(x_test, y_test)

In [ ]:
y_pred = np.array([ np.argmax(i) for i in model.predict(x_test) ])

In [ ]:
print(classification_report(y_test, y_pred, target_names=encoding_maps))

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
cf_matrix = confusion_matrix(y_test, y_pred)
plt.figure(figsize=(15, 10))
sns.heatmap(cf_matrix, linewidths=1, annot=True, fmt='g', xticklabels=list(encoding_maps.keys()), yticklabels=list(encoding_maps.keys()))
plt.xlabel('Predicted')
plt.ylabel('True')